//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Index

// 1. Global
// ---------


body {
  cursor: default;
}

svg {
  max-width: 100%;
}

::selection {
  background: $color--black;
  color: $color--white;
}

a { 
  transition: $primary-transition;
  border-bottom: 1px solid red;
}



// 2. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 3. 404
// ------

.missing {
  margin-top: 3rem;
  margin-bottom: 3rem;
    a {
      color: $color--dark-gray;
    }
    a:hover {
      color: $color--black;
    }
}

// 4. Index
// -------

.index {
  padding: 3rem;
    @include breakpoint(small only) {
      padding: 2rem;
    }
}

.index h2 {
  padding-bottom: 2rem;
}